body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
button {
  padding: 10px;
  margin-top: 8px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

#loginForm,
#signupForm,
#chatroomEntry {
  max-width: 300px;
  margin: auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #333;
}
